body,
html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

#sidenav {
  min-width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  height: 100%;
}

#header {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

#header img {
  width: 200px;
}

#nav ul {
  list-style: none;
  font-family: "Cairo", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  text-align: center;
}

#nav li a {
  cursor: pointer;
  color: #565656;
  text-decoration: none;
}

#nav li a:hover,
#nav li.active a {
  color: #060606;
}

#navfooter {
  flex: 1;
  padding: 10px 20px;
  text-align: center;
}

#copyfooter {
  padding: 20px;
  text-align: center;
}

#navfooter a {
  margin: 4px;
  display: inline-block;
  opacity: 0.7;
}

#navfooter a:hover {
  opacity: 0.92;
}

#navfooter img {
  width: 24px;
}

#copyfooter {
  font-family: "Cairo", sans-serif;
  font-size: 0.75rem;
  line-height: 1.5em;
  text-align: center;
  color: #565656;
  width: 100%;
}


/**/


/***/

#photo-container {
  flex: 1;
  height: calc(100% - 40px);
  overflow-y: overlay;
  margin: 20px;
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  column-count: 2;
  column-gap: 10px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin-bottom: 10px;
  cursor: pointer;
}

/* @media (max-width: 1200px) {
  #photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 1000px) {
  #photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
} */
@media (max-width: 800px) {
  #photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
  #container {
    flex-direction: column;
  }

  #sidenav {
    height: auto;
  }

  #nav li {
    display: inline-block;
    margin: 0px 4px;
  }

  #header {
    padding: 20px 0px 0px 0px;
  }

  #navfooter {
    padding: 0px;
    flex: none;
  }

  #copyfooter {
    position: absolute;
    bottom: 0;
  }

  #copyfooter br {
    display: none;
  }

  #photo-container {
    margin-bottom: 50px;
  }

  #pvcontainer {
    flex-direction: column;
  }

  #pvtextcontainer {
    margin: 20px !important;
    width: calc(100% - 40px) !important;
    max-height: 260px !important;
  }
}
/* @media (max-width: 400px) {
  #photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
} */

#photoview {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

#closebtn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 40px;
  cursor: pointer;
}

#pvcontainer {
  display: flex;
  height: 100%;
  width: 100%;
}

#pvcontainer.fullscreen #pvtextcontainer {
  display: none;
}

#pvcontainer.fullscreen #pvimgcontainer {
  margin: 20px 60px 20px 20px;
}

#pvimgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-height: 100%;
  overflow: hidden;
  margin: 20px;
}

#photoviewimg {
  cursor: pointer;
}

.potraight {
  height: 100%;
}

.landscape {
  width: 100%;
}

#pvtextcontainer {
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 60px 20px 0px;
  width: 360px;
}

#pvtextcontainer h2 {
  font-family: "Cairo", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 10px 0;
  line-height: 1.2em;
}

#pvtextcontainer h3 {
  font-family: "Cairo", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0px 0px 10px 0px;
}

#pvtextcontainer h3 span {
  display: block;
}

#pvtextcontainer p {
  font-size: 1rem;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  margin: 0;
}
