body,
html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
}

#mobile-header {
  display: none;
}

#sidenav {
  width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
  background-color: #fff;
}

#header {
  width: 100%;
  text-align: center;
  padding: 10px 0 0 0;
}

#header img {
  width: 200px;
}

#nav {
  flex: 1;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#nav ul {
  list-style: none;
  font-family: 'Cairo', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  text-align: center;
}

#nav li a {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
}

#nav li a:hover,
#nav li.active a {
  color: rgba(0, 0, 0, 0.92);
}

#socialnav {
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

#socialnav a {
  margin: 4px;
  display: inline-block;
  opacity: 0.55;
}

#socialnav a:hover {
  opacity: 0.92;
}

#socialnav img {
  width: 30px;
}

#socialnav #instaicon {
  width: 36px;
}

#copyfooter {
  padding: 20px;
  font-family: 'Cairo', sans-serif;
  font-size: 0.75rem;
  line-height: 1.5em;
  text-align: center;
  color: #565656;
}

#image-grid {
  flex: 1;
  height: calc(100% - 20px);
  overflow-y: overlay;
  overflow-x: hidden;
  margin: 10px;
}

#image-grid img {
  cursor: pointer;
}

/* TODO responsive */
@media (max-width: 600px) {
  #container {
    flex-direction: column;
  }

  #sidenav {
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 70px;
    height: calc(100% - 70px);
    transform: translateX(-105%);
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  }

  #sidenav.show {
    transform: none;
  }

  #header {
    display: none;
  }

  #mobile-header {
    display: block;
    width: 100%;
    text-align: center;
    height: 70px;
  }

  #mobile-header img {
    width: 170px;
  }

  .mh-btn {
    position: absolute;
    top: 15px;
    left: 6px;
    font-size: 40px;
    cursor: pointer;
    z-index: 2;
  }

  #mobile-header.opennav #menu-btn {
    display: none;
  }

  #mobile-header.opennav #back-btn {
    display: block;
  }

  #mobile-header #menu-btn {
    display: block;
  }

  #mobile-header #back-btn {
    display: none;
  }
}
